<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction amount:</strong>
    <%= transaction.transaction_amount %>
  </p>

  <p>
    <strong>Bitcoin address:</strong>
    <%= transaction.bitcoin_address %>
  </p>

  <p>
    <strong>T receptor:</strong>
    <%= transaction.t_receptor %>
  </p>

</div>
